.form-check {
    font-size: 1.5rem;
    color: var(--color-status-danger);
}

.form-check-input{
    margin-top: 0.6rem;
 
}


.form-control{
    margin-top: 0.5rem;
 
}

#button {
    font-size: 12px;
}