#estado {
  color: var(--color-status-danger);
}

#distribucion {
  color: var(--color-status-info);
}

.actualizando{
  color: var(--color-status-danger);
}

.h4{
  color: var(--color-status-danger);
}