.table-container {
  max-width: 100%;
  max-height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  font-size: 4rem;
  background-color: #f1faee;
  /* margin-left: 0%;  */
}

.sticky2 {
  position: sticky;
  left: 0;
  max-width: 60px;
  /* background-color: #F1FAEE; */
  font-size: 2rem;

  /* background-color:#F1FAEE; */

  color: white;
}

.sticky1 {
  position: sticky;
  left: 0;
  /* background-color: #F1FAEE; */
  max-width: 60px;
  font-size: 2rem;
}

#acepto {
  padding: 0rem;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  color: white;
}

.cli {
  min-width: 100px;
}

.mod {
  max-width: 10px;
}

.botones {
  height: 35px;
  width: 336px;
  /* margin-right: 1px; */
  font-size: 1.25rem;
  background-color: rgb(23, 23, 87);
  color:white;
}

.botones1 {
  height: 35px;
  width: 336px;
  /* margin-right: 1px; */
  font-size: 1.25rem;
  background-color: rgb(23, 23, 87);
  color: black;
}

.button.botones {
  height: 35px;
  max-width: 330px;
  margin-right: 1px;
  font-size: 1.25rem;
  background-color: rgb(23, 23, 87);
  color: rgb(22, 23, 23);
}

.pie {
  font-size: 1.75rem;
  text-align-last: right;
  text-align: right;
}

@media (max-width: 760px) {
  span,
  select,
  button {
    font-size: 1rem;
  }
}

@media (max-width: 760px) {
  div,
  b.pie {
    font-size: 1.25rem;
  }
}

@media (max-width: 760px) {
  .botones {
    /* width: 360px; */
    display: none;
  }
}
